---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Section from '../components/Section.astro';
import { getCollection } from 'astro:content';

const pages = await getCollection('pages');
---

<BaseLayout title="lukaspitrik.cz" description="Personal site for Lukáš Pitrik">
  <Nav />
  <Hero />
  {pages.map(page => (
    <Section title={page.data.title}>
      {page.body}
    </Section>
  ))}
</BaseLayout>

